* {
  box-sizing: border-box;
}

.textSlice {
  background-color: #2b653c;
  display: flex;
  justify-content: center;
  color: #fbeb97;
  text-align: center;
}

.text {
  padding: 30px;
  width: 30%;
  font-size: 24px;
}
