@import url("https://fonts.googleapis.com/css2?family=Titan+One");

* {
  box-sizing: border-box;
}

.header {
  background-color: #fbeb97;
  display: flex;
  color: #000000;
  align-items: center;
  flex-direction: column;

  .shopName {
    padding: 3rem;
    color: #2b653c;

    .shopTitle {
      font-family: "Titan One", sans-serif;
      font-size: 4rem;
      margin: 0;
    }

    .shopSubtitle {
      margin: 0;
      font-size: 2rem;
    }
  }
}
