@import url("https://fonts.googleapis.com/css2?family=Titan+One");

* {
  box-sizing: border-box;
}

.header {
  background-color: #fbeb97;
  display: flex;
  color: #000000;
  justify-content: center;

  .shopName {
    padding: 30px;
    font-family: "Titan One", sans-serif;
    font-size: 3rem;
  }

  .shopName:hover {
    color: #2b653c;
    transition: color 0.3s ease-out;
  }
}
