* {
  box-sizing: border-box;
}

.header {
  background-color: #fbeb97;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #000000;
}

.shopName {
  grid-column-start: 2;
  padding: 30px;

  :hover {
    color: #2b653c;
    transition: color 0.3s ease-out;
  }
}

.address {
  grid-column-start: 3;
}