* {
  box-sizing: border-box;
}

.header {
  background-color: #fbeb97;
  display: inline-grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: #000000;

  .address {
    grid-column-start: 3;
    font-size: 1rem;
  }
  
  .shopName {
    grid-column-start: 2;
    padding: 30px;
  }
  
  .shopName:hover {
    color: #2b653c;
    transition: color 0.3s ease-out;
  }

}