* {
  box-sizing: border-box;
}

.footer {
  background-color: #661a17;
  display: flex;
  justify-content: space-between;
  color: #fbeb97;
  text-align: center;
  font-size: 1.5rem;
  flex-direction: row;
  padding: 0 20% 0 20%;

  .footerContent {
    margin: 80px 0 80px 0;
  }
}
