@import url("https://fonts.googleapis.com/css2?family=Titan+One");

* {
  box-sizing: border-box;
}

.footer {
  background-color: #fbeb97;
  display: flex;
  justify-content: space-between;
  color: #661a17;
  text-align: center;
  font-size: 1.5rem;
  flex-direction: row;
  padding: 0 20% 0 20%;

  .footerContent {
    margin: 80px 0 80px 0;
  }

  .openingHours {
    .hoursTitle {
      font-family: "Titan One", sans-serif;
      font-size: 2rem;
    }

    .times {
      width: 100%;
      display: flex;
      justify-content: space-between;
      text-align: center;

      .days,
      .hours {
        list-style-type: none;
        padding: 0;

        .listItem {
          height: 30px;
        }
      }

      .days {
        text-align: left;
        font-family: "Titan One", sans-serif;
      }

      .hours {
        text-align: right;
      }
    }

    .flex-item {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 760px;
    }
  }
}
